.cardTitles {
    margin-left: 5px;
    text-align: left !important;
    flex: 1;
}

.cardLisatiedot {
    margin-right: 5px;
    text-align: right!important;
    flex: 1;
}

.cardTableOrder {
    display: flex !important;
 
}

.dialogMainData {
    display: flex;
    justify-content: space-between;
    color: black;
}

.dialogDateData {
    display: flex;
    flex-direction: row;
}

.dialogDateData div:nth-child(1) Input:nth-child(3) {
    margin: 25px 0px 25px 0px;
}

.dialogDateData div:nth-child(2) {
    margin-left: 50px;
}