.navBar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #4934eb;
    z-index: 1;
}

.openNav {
    position: fixed;
    top: 60px;
    left: -300px;
    height: 100%;
    width: 600px;
    background-color: white;
    transition: width 1s;
    z-index: 1;
}

.closedNav {
    position: fixed;
    top: 60px;
    left: -300px;
    height: 100%;
    width: 0px;
    background-color: white;
    transition: width 2s;
}

.blocked {
    position: fixed;
    top: 60px;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.6;
    transition: 500ms;
    z-index: 0;
}

.navSide {
    display: flex;
    justify-content: flex-end;
}