.navData {
    color: black;
    width: 300px;
}

.navBtn {
    border-radius: 0px;
    width: 100%;
    height: 50px;
}

.datePicker {
    margin-top: 5px;
    width: 300px;
    text-align: center;
}