.dialogStyles {
    width: 1000px;
    max-width: 100%;
    height: auto;
    max-height: 85%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #eee;
    padding: 10px 20px 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto
}


.dialogCloseButtonStyles {
    margin-bottom: 15px;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end
}

.dialogDisabler {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: #808080;
    display: flex;
    flex-direction: column;
    opacity: 0.5
}