Table {
    border-collapse: separate !important;
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    font-size: 20px;
}

Td, Th {
    border-left: solid black 1px;
    border-top: solid black 1px;
}

Th {
    border-top: none;
    height: 40px;
    background-color: black;
    color: white;
}

Td:first-child, Th:first-child {
    border-left: none;
}

Td {
    height: 50px;
}

.ok {
    color: black !important;
}

.kss {

    background-color: #d4ca15 !important;
    color: black !important;
}

.k {

    background-color: #1fa30d !important;
    color: black !important;
}

.eo {

    background-color: #db2121 !important;
    color: yellow !important;
}

.inputTable {
    width: 150px;
}

.inputValueTable {
    width: 100px;
}

.tableText {
    text-align: center !important;
}

.editInformation {
    display: flex;
}

.deleteButton {
    height: 37px;
    background-color: red !important;
}

.editTableAddFlower {
    margin-bottom: 10px !important;
}

.editTableAmount {
    width: 100px !important;
    border: black 1px solid !important;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.editDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}