.App {
  position: absolute;
  background-color: #282c34;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
